/* fundo geral */
body {
    margin: 0;
    padding: 0;
    background: #16161D;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: flex-start;
}

/* área preta a esquerda */
.lado-esquerdo {
    width: 640px;
    min-height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

/* logo */
.logo {
    width: 300px;
    max-width: 80%;
    height: auto;
    object-fit: contain;
    margin-bottom: 120px;
}

/* container dos botões */
.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

/* botão cadastre-se */
.btn-cadastrar {
    width: 236px;
    height: 50px;
    background: #FFF;
    border-radius: 50px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn-cadastrar:hover {
    opacity: 0.7;
}

/* texto ou */
.ou {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0;
}

/* botão faça login */
.btn-login {
    width: 236px;
    height: 50px;
    background: #16161D;
    border-radius: 50px;
    border: 2px solid #FFF;
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.3s ease;
}

.btn-login:hover {
    opacity: 0.7;
}

/* rpaulistaesponsividade */
@media (max-width: 800px) {
    .lado-esquerdo {
        width: 100%;
        padding-top: 30px;
    }

    .logo {
        margin-bottom: 80px;
        width: 260px;
    }
}
