.feed-userpage {
    margin: 0px auto;
    width: 900px;
    height: 1005px;
    background: #2d303c;
    border-left: 3px solid #686868;
    border-right: 3px solid #686868;
    padding-top: 40px;
}

.menu {
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#imagem-img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transition: all 0.2s;
}