.feed-userpage {
    margin: 0px auto;
    width: 900px;
    height: 1005px;
    background: #2d303c;
    border-left: 3px solid #686868;
    border-right: 3px solid #686868;
    padding-top: 40px;
}

.menu {
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagem {
    cursor: pointer;
    transition: all 0.15s;
    position: relative;
}

.icon {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #000000;
    transition: all 0.2s;
}

.imagem-img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transition: all 0.2s;
}

.imagem:hover .icon {
    opacity: 1;
}

.imagem:hover .imagem-img {
    opacity: 0.7;
}

.pencil {
    font-size: 16px;
    transition: all 0.15s;
}

.pencil:hover {
    cursor: pointer;
    opacity: 0.55;
}

.mk-avaliation {
    border-radius: 50px;
    border: none;
    background: #00acea;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    width: 158px;
    height: 50px;
    position: absolute;
    margin: 50px;
    transition: all 0.15s;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 10px 10px;
}

.mk-avaliation:hover {
    cursor: pointer;
    opacity: 0.8;
}
