.pagepost-div {
    display: flex;
    flex-direction: column;
    background-color: pink;
    margin: 20px 0px;
}

.pagepost-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.username {
    color: #00acea;
}

.user-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-photo:hover{
    cursor: pointer;
}

.album-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.avaliation {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
}
