.comment-page{

}
.foundpost-box {
    margin: 0px auto;
    height: 280px;
    width: 894px;
    background: #2D303C;
    border-left: 3px solid #686868;
    border-right: 3px solid #686868;
    padding-top: 40px;
}


.comments-feed {
   margin: 0px auto;
   width: 894px;
   height: 725px;
   background: #282b35;
   border-left: 3px solid #686868;
   border-right: 3px solid #686868;
   padding-top: 40px;
}

.comment-form {
    width: 894px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    align-items: center;
    background: #282B37;
    border-left: 3px solid #686868;
    border-right: 3px solid #686868;
}

.comment-input {
    flex: 1;
    resize: vertical;
    border-radius: 8px;
    padding: 8px;
    background: #1E2028;
    color: #FFFFFF;
}

.comment-button {
    height: 38px;
    padding: 0 16px;
    border-radius: 8px;
}