.comment-page {
    flex-direction: column;
    align-items: center;
}
.foundpost-box {
    margin: 0px auto;
    height: 280px;
    width: 894px;
    background: #2d303c;
    border-left: 3px solid #686868;
    border-right: 3px solid #686868;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-feed {
    margin: 0px auto;
    width: 894px;
    height: 725px;
    background: #282b35;
    border-left: 3px solid #686868;
    border-right: 3px solid #686868;
    padding-top: 40px;
}

.comment-form {
    width: 894px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    align-items: center;
    background: #282b37;
    border-left: 3px solid #686868;
    border-right: 3px solid #686868;
    flex-direction: column;
    align-items: center;
}

.comment-input {
    flex: 1;
    resize: vertical;
    border-radius: 8px;
    padding: 8px;
    background: #1e2028;
    color: #ffffff;
    outline: none;
}

.comment-button {
    height: 38px;
    padding: 0 16px;
    border-radius: 8px;
    border: none;
    font-family: Roboto;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.15s;
}

.comment-button:hover{
    opacity: 0.8;
}
