.feed-create-post-page{
    height: 799px;
    
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p1 {
    color: #fff;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 50px 0 50px 0;
}

.select-texto-acima {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px 0px 10px 0px;
}

.album-select {
    width: 650px;
    color: black;
}

.p2 {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 61px 0px 10px 0px;
}

.p3 {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 50px 0px 10px 0px;
}
.comment-input {
    width: 90%;
    max-height: 100px;
    border: none;
}

.create-post-button{
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
    background-color: #ffffffc4;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-top: 50px;
}

.create-post-button:hover{
    opacity: 0.8;
}