/*  fundo */
body {
   margin: 0;
   padding: 0;
   background: #16161d;
   font-family: Roboto, sans-serif;
   color: #fff;
}

/* topo */
.topo {
   width: 100%;
   height: 75px;
   background: #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 40px;
   box-sizing: border-box;
}

.logo {
   width: 235px;
   height: 48px;
   transition: opacity 0.15s;
}
.logo:hover{
   cursor: pointer;
   opacity: 0.8;
}

.pesquisa {
   width: 500px;
   height: 40px;
   border: none;
   border-radius: 50px;
   padding: 9px 15px;
   font-size: 20px;
   font-weight: 700;
   color: #808080;
   overflow-y: hidden;
}

.perfil-topo {
   width: 45px;
   height: 45px;
   background: #d9d9d9;
   border-radius: 50%;
   object-fit: cover;
}

/* botao esuqerdo */
.btn-criar {
   position: absolute;
   top: 130px;
   left: 70px;
   width: 158px;
   height: 50px;
   background: #00acea;
   border: none;
   border-radius: 10px;
   color: white;
   font-size: 20px;
   font-weight: 700;
   cursor: pointer;
   opacity: 1;
   transition: opacity 0.3s ease;
}

.btn-criar:hover {
   opacity: 0.7;
}

/* área central */
.feed {
   margin: 0px auto;
   width: 900px;
   height: 1005px;
   background: #2d303c;
   border-left: 3px solid #686868;
   border-right: 3px solid #686868;
   padding-top: 40px;
}

/* post */
.post {
   overflow-y: hidden;
   width: 800px;
   height: 174px;
   margin: 0 auto 40px auto;
   background: #16161d;
   border-radius: 20px;
}

/* barra superior post */
.barra-superior {
   width: 100%;
   height: 36px;
   background: #212436;
   border-radius: 20px 20px 0 0;
   display: flex;
   align-items: center;
   padding: 0 15px;
   box-sizing: border-box;
   gap: 10px;
}

.perfil-post {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   object-fit: cover;
   transition: all 0.15s;
}
.perfil-post:hover, .perfil-topo:hover {
   box-shadow: rgba(255, 255, 255, 255) 0px 0px 10px 2px;
   cursor: pointer;
}

.avaliacao,
.user {
   font-size: 20px;
   font-weight: 700;
}

.user {
   color: #00acea;
   transition: opacity 0.15s;
}

.user:hover{
    cursor: pointer;
    opacity: 0.8;

}

.tempo {
   font-size: 16px;
   color: #787878;
}

/* icones */
.icones {
   margin-left: auto;
   display: flex;
   align-items: center;
   gap: 10px;
}

.icon-heart,
.icon-comment {
   width: 24px;
   height: 24px;
   object-fit: contain;
   display: block;
}

.like-count {
   font-size: 18px;
}

/* conteudo do post */
.conteudo {
   display: flex;
   padding: 10px 20px;
   gap: 15px;
}

.capa-musica {
   width: 120px;
   height: 120px;
   border-radius: 15px;
   background: #00ea1b;
}

.estrelas {
   font-size: 20px;
   color: #debd00;
}

.titulo {
   margin-top: 5px;
   font-size: 22px;
}

.banda {
   margin: 0;
   color: #aaa;
}

.avaliacao-texto {
   margin-top: 10px;
}

.titulo,
.banda,
.avaliacao-texto {
   margin-top: 2px !important;
   margin-bottom: 2px !important;
}
