.username {
    color: #00acea;
}

.user-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-photo:hover{
    cursor: pointer;
}

.col {
    display: flex;
    flex-direction: column;
}

.barra-superior {
   width: 100%;
   height: 36px;
   background: #212436;
   border-radius: 20px 20px 0 0;
   display: flex;
   align-items: center;
   padding: 0 15px;
   box-sizing: border-box;
   gap: 10px;
}

.perfil-comment {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   object-fit: cover;
   transition: all 0.15s;
}

.perfil-comment:hover, .perfil-topo:hover {
   box-shadow: rgba(255, 255, 255, 255) 0px 0px 10px 2px;
   cursor: pointer;
}

.conteudo {
   display: flex;
   padding: 10px 20px;
   gap: 15px;
}

.titulo {
   margin-top: 5px;
   font-size: 22px;
}

.comentario-texto {
   margin-top: 10px;
}

.titulo,
.comentario-texto {
   margin-top: 2px !important;
   margin-bottom: 2px !important;
}

.comment {
   overflow-y: hidden;
   width: 800px;
   height: 174px;
   margin: 0 auto 40px auto;
   background: #16161d;
   border-radius: 20px;
}