/* fundo */
body {
    margin: 0;
    padding: 0;
    background: #16161d;
    font-family: Roboto, sans-serif;
}

/* header */
.topo {
    width: 100%;
    height: 75px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 241px;
    height: 49px;
    object-fit: contain;
}

/* centralizar */
.container {
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card */
.card {
    width: 704px;
    padding: 35px 20px;
    background: rgba(0, 0, 0, 0.8);
    border: 6px solid #3c3c3c;
    border-radius: 30px;
    text-align: center;
}

/* título */
.titulo {
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 48px;
    margin: 0;
    margin-bottom: 15px;
}

/* texto */
.descricao {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    max-width: 515px;
    margin: 0 auto 40px auto;
}

/* inputs */
.grupo {
    text-align: left;
    max-width: 608px;
    margin: 0 auto 30px auto;
}

.grupo label {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}

.grupo input {
    width: 90%;
    height: 36px;
    background: #fff;
    border-radius: 50px;
    border: 4px solid #3c3c3c;
    padding: 5px 15px;
    font-size: 16px;
}

.grupo input:focus {
    border: 4px solid #8a8a8a;
    outline: none;
}

/* botões */
.botoes {
    max-width: 608px;
    margin: 40px auto 10px auto;
    display: flex;
    justify-content: space-between;
}

/* botao de voltar */
.btn-voltar {
    width: 120px;
    height: 55px;
    background: #d9d9d9;
    color: #333;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* botao de entrar */
.btn-entrar {
    width: 156px;
    height: 55px;
    background: #00acea;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    position: relative;
    right: 120px;
}

.btn-entrar,
.btn-voltar {
    cursor: pointer;
    transition: 0.15s;
}

.btn-entrar:hover,
.btn-voltar:hover {
    opacity: 0.9;
}

/* responsividade */
@media (max-width: 760px) {
    .card {
        width: 90%;
    }
}
